@import url('https://fonts.googleapis.com/css?family=Poppins:100,500,700');
@font-face {
    font-family: "SF Display";
    font-weight: 400;
    src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
  }

  @font-face {
    font-family: "SF Display";
    font-weight: 800;
    src: url("https://sf.abarba.me/SF-UI-Display-Heavy.otf");
  }
  @font-face {
    font-family: "SF Display";
    font-weight: 300;
    src: url("https://sf.abarba.me/SF-UI-Display-Thin.otf");
  }

* {
	margin: 0;
    padding: 0;
    font-family: 'SF Display', sans-serif;
}

.hide {
    display: none !important;
}

.type {
    display: flex;
    flex-direction: row;
}

.plus {
    height: 17px;
    width: 17px;
    margin-right: 5px;
    padding-top: 4px;
    position: relative;
    top: 3px;
}

.main {
    padding: 0px 20px 10px 20px;
    background-color: white;
}

.header, .user, .number, .num-el {
    display: flex;
    flex-direction: row;
}

.user > img {
    height: 70px;
    width: 70px;
    border-radius: 50px;
}

.social, .contacts {
    display: flex;
    flex-direction: column;
}

.crm {
    background-color: #ececec;
}

.header > h1 {
    width: 34%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 26px;
    border-radius: 1px;
}

.header {
    padding-bottom: 10px;
    background-color: white;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0 20px 0;
}

.user img {
    margin-right: 15px;
}

.name {
    font-weight: 400;
    font-size: 20px;
}

h2 {
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 18px;
}

.social, .contacts, .adds {
    margin-bottom: 10px;
    width: auto;
}

.social .item {
    margin: 3px 0px;
    color: #928a8a;
}

.contacts div, .adds {
    margin-bottom: 3px;
    color: #928a8a;
}

.contact {
    color: black !important;
}


.item:hover, .contacts .number:hover, .number:hover div, .contact:hover {
    color: #2196f3 !important;
    cursor: pointer;
    transition: all 0.1s ease !important;
}

.client {
    color: #2196f3;
}

.item i {
    width: 25px;
    font-size: 18px;
}

.number div {
    width: 100px;
}


.number i {
    margin-right: 6px;
    font-size: 12px;
}

.number, .num-el {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.adds p {
    text-align: justify;
}

.react-contextmenu-item {
    color: black;
    background: white;
    font-size: 200;
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
}

.react-contextmenu-item:hover {
    background: #ececec;
}

.react-contextmenu-item:hover {
    cursor: pointer;
}

.react-contextmenu {
    border: 1px solid #ececec;
    border-radius: 5px;
    background: white;
}
